@charset "UTF-8";

#receiveBoard_wrapper {
	margin: 0px auto;
	padding: 50px;
	width: 1200px;
	min-height: 700px;
}
#receiveBoard_button {
	margin: 0px auto;
	width: 900px;
	height: 40px;
}
#button_left {
	float: left;
}
#button_right {
	float: right;
}
#rbBtn{
	display: inline-block;
    width: 50px;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: buttonface;
	border: 1px solid grey;
	border-radius: 3px;
}
#rbBtn > button{
	border: 0px;	
}
#receiveBoard_content {
	margin: 0px auto;
	padding: 50px;
	width: 800px;
	border: 1px solid black;
}

.receiveBoard_content_title {
	padding-bottom: 10px;
	border-bottom: 1px dashed #999999;
	font-size: 16px;
}

.divider {
	color: #666666;
}

.receiveBoard_category {
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}

.titleRight {
	font-size: 11px;
	color: #666666;
	float: right;
}
.readhits{
	font-size: 13px;
	color: orangered;
}
.receiveBoradgrade {
	font-size: 11px;
	color: #666666;
}

#writeInfo {
	padding-top: 5px;
}

.readLeft {
	float: left;
}
.readLeft strong {
	font-size: 14px;
}
.board_info_uploader_img { /* 게시판_업로더 사진 */
	width: 25px;
	height: 25px;
	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
}
#receiveBoard_articleBody {
	padding: 30px 15px;
	min-height: 500px;
	clear: both;
	font-size: 18px;
}

#receiveBoard_articleBody >textarea {
	font-size: 18px;
	border: none;
	width: 770px;
	height: 500px;
}

#reply_count, #reply_selection, #reply_select,
	#receiveBoard_article_count, #receiveBoard_article_like,
	#receiveBoard_article_like {
	display: inline-block;
}

#reply_select {
	border-style: none;
}

#receiveBoard_bottom {
	margin-top: 10px;
	background-color: white;
	padding: 15px;
	border-top: 1px dashed #999999;
	font-size: 14px;
}
#reply_count {
	font-size: 15px;
	color: grey;
}
#input_comment{
	width: 770px;
	height: 26px;
	padding-top: 20px;
}
#input_comment >#input_btn {
	font-size: 17px;
	float: right;
	padding-bottom: 10px;
	/* width: 500px; */
}
#input_comment >.btn_comment {
	width: 150px;
}
/* .counter {
	font-size: 15px;
	color: RED;
	position: relative;
}

.reply_statusBox {
	width: 650px;
	height: 100px;
	margin-bottom: 10px;
}

#receiveBoard_submit {
	float: right;
	position: relative;
	right: 100px;
	width: 100px;
	height: 100px;
}

.posts {
	clear: both;
	list-style: none;
	padding-left: 0;
	width: 100%;
	text-align: left;
}

.posts li {
	width: 650px;
	background-color: #fff;
	border: 1.5px solid #d8d8d8;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;
	min-height: 42px;
	box-shadow: 8px 8px 5px #888888;
}  */