<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		  <setting name="mapUnderscoreToCamelCase" value="true" /> 
	</settings>

	<typeAliases>
		<typeAlias type="com.LECFLY.LF.model.vo.creator.LectureVO" 
			alias="lectureVO"></typeAlias>
		<typeAlias type="com.LECFLY.LF.model.vo.creator.VideoVO" 
			alias="videoVO"></typeAlias>
		<typeAlias type="com.LECFLY.LF.model.vo.virtual.CategoryLectureStatVO" 
			alias="categoryLectureStatVO"></typeAlias>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/admin_mapper.xml" />
	</mappers>
	
</configuration>
