/* 래퍼 */
#paymentFinished_wrapper {
	width: 1200px;
	min-height: 800px;
	margin: 0px auto;
}

/* 타이틀과 서브 타이틀 */
.paymentFinished_title_box {
	padding: 15px;
	position: relative;
	bottom: 23px;
}

.paymentFinished_subtitle {
	float: right;
	position: relative;
	bottom: 22px;
}

span.order_finish {
	color: black;
}

span.basket, span.order_sheet {
	color: gray;
}

#finished_wrapper {
    margin: 0 auto;
    padding: 0;
    border: 0;
    max-width: 800px;
    min-height: 1200px;
/*     box-sizing: border-box; */
}
.finished_background {
    letter-spacing: -1px;
    background: #f4fae1 url('http://m.oliveyoung.co.kr/mc-static-root/image/etc/@bg_image_top.gif') no-repeat 100% 0;
    background-size: 125px auto;
}

.finished_backgroundInfo {
    padding: 0 20px 27px;
    border-bottom: 1px solid #e6e6e6;
    background: url('http://m.oliveyoung.co.kr/mc-static-root/image/etc/@bg_image_btm.gif') no-repeat 100% 100%;
    background-size: 57px auto;
}

.finished_backgroundInfo2 {
    padding: 20px 0 0;
    font-size: 0;
    line-height: 0;
}

.finished_img {
    width: 123px;
    height: 21px;
}

.finished_font {
    padding: 11px 0 0;
    color: #222;
    font-size: 32px;
    line-height: 41px;
/*     letter-spacing: -2px; */
}

.finished_orderdelivery {
    display: inline-block;
    margin: 20px 0 0;
    padding: 15px;
    border-radius:5px;
    background:orange;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

#orderInfo_title, #deliveryGoodsInfo_title, #deliveryInfo_title, #paymentInfo_title {
    margin: 0 20px;
    padding: 25px 0 9px;
    border-bottom: 2px solid #666;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.orderInfo_box {
    font-size: 14px;
    line-height: 22px;
    padding: 0 20px;
}

.orderInfo_table, deliveryInfo_table {
    border-collapse: collapse;
    width: 100%;
}

.orderInfo_table_th {
    font-size:14px;
    padding: 14px 0 16px 16px;
    line-height: 20px;
    text-align: left;
    font-weight: normal;
    background: #f6f6f6;
    border-bottom: 1px solid #e6e6e6;
}

.deliveryInfo_table_th {
    font-size:14px;
    width:120px;
    padding:14px 0 16px 16px;
    line-height:20px;
    text-align:left;
    font-weight:normal;
    vertical-align:top;
    background:#f6f6f6;
    border-bottom:1px solid #e6e6e6;
}

.orderInfo_table_td, .deliveryInfo_table_td {
    font-size:14px;
    width: 558px;
    padding: 14px 0 16px 16px;
    line-height: 20px;
    color: #333;
    border-bottom: 1px solid #e6e6e6
}

.deliveryGoods_set, .deliveryplace_set, .paymentInfo_set {
    overflow: hidden;
    margin:0 20px;
}
.deliveryGoods_a {
    color: #333;
    font-size: 15px;
    text-decoration: none;
}

.deliveryGoods_img {
    float: left;
    margin:20px 0;
}

.deliveryGoods_imgInfo {
    float:left;
    width:68%;
    margin:0 0 0 15px;
    padding:17px 0 15px;
}

.deliveryGoods_cnt {
    color: #999;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.deliveryGoods_discount {
    color: #b0b0b0;
    font-size: 13px;
    text-decoration: line-through;
}

.deliveryGoods_price {
    color: #333;
    font-size:20px;
    font-weight:bold;
    padding:0 0 0 7px;
}

.korean_point {
    font-style:normal;
    font-size:12px;
    padding:0 0 0 2px;
}

.paymentInfo_sumprice {
    overflow: hidden;
    padding: 6px 0 7px;
}

.sumGoods_price, .sumDelivery_price, .point_discountprice {
    float:right;
    color:#f47330;
    font-weight:bold;
    font-size:16px;
}

.sum_paymentPrice {
    float:right;
    color:#ff2828;
    font-weight:bold;
    font-size:28px;
    line-height:38px;
}

.paymentInfo_method {
    float:right;
    font-size:12px;
    font-weight:bold;
    text-align:right;
}

.method_record {
    display:block;
    font-size:14px;
    font-style:normal;
    letter-spacing:-0.5px;
}

#paymentFinished_button {
	text-align: center;
	position: relative;
	top: 10px;
}

.paymentFinished_orderPage, .paymentFinished_goHomePage {
	display: inline-block;
	margin: 20px 0 0;
	border-radius: 5px;
	background: orange;
	color: black;
	font-size: 16px;
	font-weight: bold;
	width: 120px;
	height: 40px;
	cursor: pointer;
}

/* TEST PAY_ORDERDETAIL */

.orderDetail {
  font-size: 10pt;
  padding: 10px;
  color: white;
  background-color: orange;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-clip: padding-box;
}
.orderDetail:hover {
  background: orangered;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 786px;
  height: 550px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .orderDetail_title {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
.popup .close {
  position: absolute;
  top: 0px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: black;
}
.popup .orderDetail_content {
  font-size: 12px;
  width: 100%;
  overflow: auto;
  clear: both;
}

.orderDetail_center, .orderDetail_left, .orderDetail_right  {
   border-collapse: collapse;
   width: 100%;
   margin-bottom: 20px;
}

.orderDetail_center_th {
    margin: 0px auto;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    font-weight: normal;
    background: #f6f6f6;
    width: 120px;
}

.orderDetail_left_th, .orderDetail_right_th {
    margin: 0px auto;
    padding: 0px 0px 0px 5px;
    font-size:12px;
    text-align: left;
    line-height: 20px;
    font-weight: normal;
    background: #f6f6f6;
    border-bottom: 1px solid #e6e6e6;
    width: 120px;
}

.orderDetail_center_td {
    font-size:12px;
    line-height: 20px;
    color: #333;
    text-align: center;
}

.orderDetail_left_td, .orderDetail_right_td {
    font-size:12px;
    line-height: 20px;
    color: #333;
    border-bottom: 1px solid #e6e6e6;
    padding: 0px 0px 0px 10px;
}

.orderDetail_center {
    width: 100%;
    border: 1px solid #999;
    border-spacing: 0;
    float: left;
    
}

.orderDetail_left {
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-spacing: 0;
    float: left;
    width: 368px;
    height: 200px;
}

.orderDetail_right {
    position: relative;
    left: -1px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-collapse: collapse;
    float: right;
    width: 50%;
    height: 254px;
    
}

@media screen and (max-width: 400px){
  .orderDetail{
    width: 400px;
  }
  .popup{
    width: 400px;
  }
}

/*::selection 슈도 영역잡기*/